<div class="app__container-right">
  <div>
    <a
      href="/projects/dice-roller/dice.html"
      target="_blank"
      rel="noopener noreferrer"
    >
      <div class="smallcard">
        <h3>Dice Roller</h3>
        <div>
          <img src="/static/images/dice.png" alt="dice" />
        </div>
      </div>
    </a>
  </div>
  <div>
    <a href="/projects/tic-tac-toe/tictactoe.html">
      <div class="smallcard">
        <h3>Tic Tac Toe</h3>
        <img src="/static/images/tictactoe.png" alt="tic-tac-toe" />
      </div>
    </a>
  </div>
  <div>
    <a href="/projects/memory-card/memorycard.html">
      <div class="smallcard">
        <h3>Memory Cards</h3>
        <img src="/static/images/memorycards.png" alt="memorycards" /></div
    ></a>
  </div>
</div>
