<!-- /static/components/applayout-left.html -->
<div class="app__container-left">
  <div>
    <a href="/projects/quote-generator/quote.html">
      <div class="smallcard">
        <h3>Quote</h3>
        <img src="/static/images/quote.png" alt="Quote" />
      </div>
    </a>
  </div>
  <div>
    <a href="/projects/pomodoro/pomodoro.html">
      <div class="smallcard">
        <h3>Pomodoro</h3>
        <img src="/static/images/pomodoro.png" alt="pomodoro" />
      </div>
    </a>
  </div>
  <div>
    <a href="/projects/habit-tracker/habit.html">
      <div class="smallcard">
        <h3>Habit Tracker</h3>
        <img src="/static/images/habit.png" alt="habit tracker" />
      </div>
    </a>
  </div>
</div>
