<!-- Header -->
<header>
  <div class="header__container">
    <!-- Left column -->
    <div class="header__column--left">
      <!-- Avatar -->
      <div class="header__title">
        <a href="/#home">Mini Projects</a>
      </div>

      <div class="header__search">
        <div class="search__container">
          <input
            type="text"
            class="searchBar"
            id="js__searchBar"
            placeholder="Search app..."
            autocomplete="off"
          />
          <span class="clearSearch" id="js__clearSearch">x</span>
        </div>
      </div>
    </div>

    <!-- Right column -->
    <div class="header__column--right">
      <nav aria-label="Main navigation">
        <!-- Navigation menu -->
        <ul id="nav-menu">
          <!-- Menu items linking to sections within the page -->
          <li>
            <a href="/#home" data-text="Home">Home</a>
          </li>
          <li>
            <a href="/#utility" data-text="Utility">Utility</a>
          </li>
          <li>
            <a href="/#game" data-text="Game">Game</a>
          </li>
          <li>
            <a href="/#contact" data-text="Contact">Contact</a>
          </li>
        </ul>
      </nav>

      <!-- Theme toggle -->
      <button id="themeToggle" class="btn" aria-label="Toggle dark/light mode">
        <div><span class="icon-moon">🌙</span></div>
        <div><span class="icon-sun">☀️</span></div>
      </button>
    </div>
  </div>
</header>
