/*-----------------------
    Calculator container 
-------------------------*/

.cal__container {
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 62rem; /*controls how “deep” the 3D effect looks.*/
  margin: 0.6rem 0;
}

/*---- Calculater UI ----*/
.calculator {
  background: #1a1a1a;
  width: 23rem;
  padding: 1.25rem;
  border-radius: 1.25rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.65);
  transform: rotateX(5deg) rotateY(5deg);
  transition: all 0.3s ease;
}

/*---- Calculater Input ----*/
.textInput {
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 10px;
  background: #3d3d3d;
  color: #ffffff;
  text-align: right;
  font-size: 2rem;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: inset 0 10px 20px rgba(0, 0, 0, 0.54);
}

/*---- Button Grid ----*/
.cal__frame {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 12px;
}

button {
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 10px;
  font-size: 1.5rem;
  background: linear-gradient(145deg, #2e2e2e, #3a3a3a);
  box-shadow:
    3px 3px 8px #1a1a1a,
    -3px 3px 8px #404040;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.15s ease;
}
button:hover {
  background: #444444;
  transform: scale(1.04);
}
button:active {
  background: linear-gradient(135deg, #1b1b1b, #2e2e2e);
  box-shadow:
    3px 3px 8px #1a1a1a,
    -3px 3px 8px #2e2e2e;
  transform: scale(0.98);
}
/* Special button */
.equal {
  grid-column: span 2;
  width: 155px;
  background: linear-gradient(135deg, #00cc66, #009933);
}

/* Operator buttons */
button:nth-child(4),
button:nth-child(8),
button:nth-child(12),
button:nth-child(16) {
  background: linear-gradient(135deg, #ff9900, #ff6600);
}

/*-------------------
Responsive screens 
-------------------*/

@media (max-width: 974px) {
  .cal__container {
    margin: 10px 0px;
  }
  .calculator {
    width: 350px;
  }
}

@media (max-width: 450px) {
  h1 {
    margin: 5px;
  }
  .calculator {
    width: 100%;
    max-width: 300px;
    padding: 15px;
  }
  .cal__frame {
    grid-template-columns: repeat(4, 55px);
    gap: 10px;
  }
  button {
    width: 50px;
    height: 50px;
    font-size: 1.2rem;
  }
  .equal {
    width: 120px;
  }
  .textInput {
    height: 50px;
    font-size: 1.5rem;
    padding: 8px;
    margin-bottom: 15px;
  }
}
